# Compilación
bin/
obj/
publish/
releases/
artifacts/

# Resultados de pruebas y cobertura
TestResults/
coverage/
*.trx

# Entornos y editores
.vs/
.vscode/
.idea/
*.user
*.suo
*.swp
.DS_Store
Thumbs.db

# Varios
*.zip
*.log
